* {
	background-color: azure;
	text-align:center;
}

h1 {
	font-size: 3rem;
	text-align: center;
	font-family: 'Pacifico', cursive;
	margin-bottom: 0px;
}

div {
	-webkit-animation-name: title; 
	-webkit-animation-duration: 4s;
}

@keyframes title {
    from {color: black;}
    to {color: green;}
}


h3 {
	text-align: center;
	color: grey;
}

h4 {
	color:darkgrey;
}

li {
	list-style-type: none;
}

input {
	width: 60%;
	text-align: center;
	background-color: floralwhite;

}

img {
	margin: 0 auto;
	display: inline-block; 
	padding: 10px;
}